In [1]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [69]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [70]:
li = ['abc', 34, 4.34, 23]

In [71]:
print(li)

['abc', 34, 4.34, 23]

In [72]:
st = "Hello World"

In [73]:
print(st)

Hello World

In [74]:
st = 'Hello World'

In [75]:
print(st)

Hello World

In [76]:
st = """This is a multi-line string that uses triple quotes."""

In [77]:
print(st)

This is a multi-line string that uses triple quotes.

In [78]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [79]:
tu[1]     
# Second item in the tuple.

'abc'

In [80]:
li = ["abc", 34, 4.34, 23]

In [81]:
li[1]     
 # Second item in the list.

34

In [82]:
st = "Hello World"

In [83]:
st[1]   # Second character in string.

'e'

In [84]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [85]:
t[1]

'abc'

In [86]:
t[-3]

4.56

In [87]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [88]:
t[1:4]

('abc', 4.56, (2, 3))

In [89]:
t[1:-1]

('abc', 4.56, (2, 3))

In [90]:
t[1:-1:2]

('abc', (2, 3))

In [91]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [92]:
t[:2]

(23, 'abc')

In [93]:
t[2:]

(4.56, (2, 3), 'def')

In [94]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [95]:
list2 = list1
 # 2 names refer to 1 ref
 # Changing one affects both

NameError: name 'list1' is not defined

In [ ]:
list2 = list1[:] # Two independent copies, two refs

In [ ]:
t = [1, 2, 4, 6]

In [ ]:
3 in t

In [ ]:
4 in t

In [ ]:
4 not in t

In [ ]:
a = 'abcde'

In [ ]:
'c' in a

In [ ]:
'cd' in a

In [ ]:
'ac' in a

In [ ]:
(1, 2, 3) + (4, 5, 6)

In [ ]:
[1, 2, 3] + [4, 5, 6]

In [ ]:
"Hello" + " " + "World"